* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(background100.jpg);
    max-width: 100vw;
}

@media (max-width: 1200px) {
    html {
        font-size: 75%
    }
}

@media (max-width: 900px) {
    html {
        font-size: 55%
    }
}

html {
    scroll-behavior: smooth;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40vh;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    height: 100vh;
}

.arrow {
    width: 100px;
    align-self: flex-start;
    margin-left: 1.5vw;
    padding-top: 15vh;
}

#welcome-section p {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 7px rgb(0, 0, 0);
}

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 0.788) 95%, #000);
    text-align: center;
    align-items: center;
    box-shadow: 0px 40px 40px rgb(0, 0, 0);
}

#projects h2 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 8px rgb(0, 0, 0);
    font-size: 3rem;
    margin-top: 20vh;
    margin-bottom: 2rem;
}

#projBox{
    display: flex;
    flex-direction: row;
}

.projIcon {
    box-shadow: 0px 0px 40px #000;
    border-radius: 30px;
    margin-top: 10vh;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

#contact h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 8px #000000;
    font-size: 3rem;
    padding-top: 30px
}

#contact p {
    color: rgb(255, 255, 255);
    font-style: italic;
    padding-top: 10px;
    text-shadow: 0px 1px 8px #000000;
}

#contact div {
    display: flex;
    justify-content: center;
    padding-top: 20px;    
}

#contact div a {
    padding: 2.5rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 1.5px rgb(0, 0, 0);
}

#contact div a:hover {
    transform: translateY(7px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: "Roboto";
    padding: 2rem;
    padding-bottom: 1.5rem;
}